@font-face {
    font-family: 'jetbrains-mono';
    src: url(fonts/JetBrainsMono-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'jetbrains-mono';
    src: url(fonts/JetBrainsMono-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'jetbrains-mono';
    src: url(fonts/JetBrainsMono-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'jetbrains-mono';
    src: url(fonts/JetBrainsMono-Medium.ttf);
    font-weight: Medium;
}

:root{
    --main-color: rgb(37, 37, 37);
    --secondary-color: rgb(50,50,50);
    --shadow-color: rgb(25,25,25);
    --hover-color: rgb(255, 255, 255);
    --font: jetbrains-mono;
}

h1{
    color: white;
    text-align: center;
    font-family: var(--font);
    margin: 0;
}

p{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
}

img{
    width:64px;
    height: auto;
}

body{
    background-color: var(--main-color);
    margin: 200px;
    margin-top: 24px;
}

.removePadding{
    padding: 0;
    margin: 0;
}

.CenterDiv{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.modernText{
    color: white;
    font-family: var(--font);
    text-decoration: none;
    list-style: none;
}

.scaleText{
    font-size: 3.5vw;
}

.shadowEffect{
    box-shadow: 0px 5px 10px var(--shadow-color);
}

.shadowText{
    text-shadow: 0px 4px 5px rgb(200, 200, 200);
}

#navLinks{
    display: flex;
    gap: 50px;
    padding: 15px;
}


#navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    background-color: var(--secondary-color);
    border-radius: 12px;

    box-shadow: 0px 5px 10px var(--shadow-color);
    padding-left: 10px;
}

#Logo{
    display: flex;  
    justify-content: center;

    width: 45px;
    height: 45px;
    border-radius: 50px;
    overflow: hidden;
    
}



#RandomLinks{
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--secondary-color); 
    gap: 32px;

    padding-top: 12px;
    padding-bottom: 12px;

    box-shadow: 0px 5px 10px var(--shadow-color);
}

#linkList{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap:12px;
}

#imagesDiv{
    display: flex;
    justify-content: center;
    gap: 12px;
    padding-top: 6px;
    padding-bottom: 12px;
}

#imagesImage{
    height: 250px;
    width: 100%;
    object-fit: cover;

    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 5px 10px var(--shadow-color);
    
}

#buttonsDiv{
    display: flex;
    justify-content: center;

    padding-top: 12px;
}

#buttonsImage{
    width: 100%;
    object-fit: cover;

    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 5px 10px var(--shadow-color);

    transform: scale(0.99);

    transition: box-shadow 0.4s ease, transform 0.3s ease;

}

#buttonsImage:hover{
    box-shadow: 0px 0px 5px var(--hover-color);
}

#buttonText{
    color: var(--secondary-color);
    font-size: 3vw;

    text-shadow: 0px 0px 6px rgb(0,0,0);
}

#buttonsDiv1{
width: 70%;
}

#buttonsDiv2{
width: 100%;
}

#buttonsDiv3{
display: flex;
height: 45%;
width: 100%;
}

#buttonsGroup{
    width: 50%;
}

#buttonsText1{
    position: absolute; 
    top: -3vw; 
    left: 1vw;
}

#buttonsText2{
    position: absolute; 
    bottom: 1.2vw; 
    left: 1vw;
}

#buttonsText3{
    position: absolute; 
    bottom: 0.5vw; 
    left: 1vw;
}

#buttonsText4{
    position: absolute; 
    top: 1vw;
}

@media screen and (max-width: 1280px){
    body{
        margin: 160px;
        margin-top: 24px;
    }
}

@media screen and (max-width: 1024px) {
    
    body{
        margin: 140px;
        margin-top: 24px;
    }
    
    #imagesDiv{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 768px){
    body{
        margin: 100px;
        margin-top: 24px;
    }

    #buttonsDiv{
        display: grid;
        grid-template-columns: repeat(2, 1);
    }

    
    #buttonsDiv1{
    width: 100%;
    }

    #buttonsDiv2{
    width: 100%;
    }

    #buttonsDiv3{
    display: flex;
    width: 100%;
    }

    #buttonsGroup{
        width: 100%;
        height: 105%;
    }

    #buttonText{
        font-size: 6vw;
    }

    #buttonsText1{
    position: absolute; 
    top: -6vw; 
    left: 1vw;
    }

    #buttonsText4{
        position: absolute; 
        top: 1vw; 
    }
}


@media screen and (max-width: 640px) {
    #imagesDiv{
        display: flex;
        flex-direction: column;

        height: auto;
    }

    #linkList{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }
    
    #buttonsText4{
        position: absolute; 
        top: 2vw; 
    }
}