:root{
    --main-color: rgb(37, 37, 37);
    --secondary-color: rgb(50,50,50);
    --shadow-color: rgb(25,25,25);
    --font: Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    text-align: center;
    font-family: var(--font);
    margin: 0;
}

p{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
}

body{
    background-color: var(--main-color);
    margin: 40px;
}

.removePadding{
    padding: 0;
    margin: 0;
}

.CenterDiv{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.modernText{
    color: white;
    font-family: var(--font);
    text-decoration: none;
    list-style: none;
}

.sizeDiv{
    width: 76%;
    margin-left: auto;
    margin-right: auto;
}

#navLinks{
    display: flex;
    gap: 50px;
    padding: 15px;
}


#navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
    background-color: var(--secondary-color);
    border-radius: 1.5rem;
    padding-left: 24px;
    padding-right: 69px;

    box-shadow: 0px 5px 10px var(--shadow-color);
}

#Logo{
    display: flex;  
    justify-content: center;

    width: 45px;
    height: 45px;
    border-radius: 50px;
    overflow: hidden;
}



#RandomLinks{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--secondary-color); 
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 32px;

    box-shadow: 0px 5px 10px var(--shadow-color);
}

#linkList{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap:12px;
}
img{
    width:64px;
    height: auto;
}

#imagesDiv{
    display: flex;
    justify-content: center;
    gap: 12px;
    padding-top: 6px;
    padding-bottom: 24px;
}

#imagesImage{
    height: 250px;
    width: 100%;
    object-fit: cover;

    border-radius: 36px;
    overflow: hidden;
    box-shadow: 0px 5px 10px var(--shadow-color);
}

#buttonsDiv{
    display: flex;
    justify-content: center;
    gap: 6px;

    padding-top: 24px;
}

#buttonsImage{
    height: 300px;
    width: 100%;
    object-fit: cover;

    border-radius: 36px;
    overflow: hidden;
    box-shadow: 0px 5px 10px var(--shadow-color);
}