@font-face {
    font-family: 'jetbrains-mono';
    src: url(fonts/JetBrainsMono-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'jetbrains-mono';
    src: url(fonts/JetBrainsMono-Medium.ttf);
    font-weight: Medium;
}

:root{
    --main-color: rgb(37, 37, 37);
    --secondary-color: rgb(50,50,50);
    --shadow-color: rgb(25,25,25);
    --hover-color: rgb(255, 255, 255);
    --font: jetbrains-mono;
}

html{
    scroll-behavior: smooth;
}

h1{
    color: white;
    text-align: center;
    font-family: var(--font);
    margin: 0;
}

p{
    color: white;
    text-align: center;
    font-family: var(--font);
}

ul{
    list-style-type: none;
}

img{
    width:64px;
    height: auto;
}

body{
    background-color: var(--main-color);
    margin: 200px;
    margin-top: 24px;
}

.modernText{
    color: white;
    font-family: var(--font);
    text-decoration: none;
    list-style: none;
}

.scaleText{
    font-size: 3.5vw;
}

.shadowEffect{
    box-shadow: 0px 5px 10px var(--shadow-color);
}

.shadowText{
    text-shadow: 0px 4px 5px rgb(200, 200, 200);
}

#navLinks{
    display: flex;
    gap: 50px;
    padding-right: 96px;

    font-size: 24px;
}

#navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    background-color: var(--secondary-color);
    border-radius: 12px;

    box-shadow: 0px 5px 10px var(--shadow-color);
    padding-left: 10px;
}

#mobileNav{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;

    background-color: var(--secondary-color);
    border-radius: 12px;

    box-shadow: 0px 5px 10px var(--shadow-color);
    
    height: 65px;

    display: none;
}

#Logo{
    display: flex;  
    justify-content: center;

    width: 45px;
    height: 45px;
    border-radius: 50px;
    overflow: hidden;
    
}

#RandomLinks{
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--secondary-color); 
    gap: 32px;

    padding-top: 12px;
    padding-bottom: 12px;

    box-shadow: 0px 5px 10px var(--shadow-color);
}

#linkList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap:12px;
}

#randomLink{
    height: 100%;
    width: 76px;
}

#welcomeText{
    font-size: 28px;
}

#randomLinkText{
    font-size: 28px;
}

#imagesDiv{
    display: flex;
    justify-content: center;
    gap: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#imagesImage{
    height: 250px;
    width: 100%;
    object-fit: cover;

    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 5px 4px var(--shadow-color);
    
}

#buttonsDiv{
    display: flex;
    justify-content: center;

    padding-top: 6px;
    padding-bottom: 6px;
    height: 95%;
}

#buttonsImage{
    width: 100%;
    object-fit: cover;

    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 5px 10px var(--shadow-color);

    transform: scale(0.99);

    transition: box-shadow 0.4s ease, transform 0.3s ease;

}

#buttonsImage:hover{
    box-shadow: 0px 0px 5px var(--hover-color);
}

#buttonText{
    color: white;
    font-size: 3vw;

    text-shadow: 0px 0px 6px rgb(0,0,0);
}

#buttonsDiv1{
width: 72%;
height: 95%;
}

#buttonsDiv2{
width: 100%;
}

#buttonsDiv3{
display: flex;
height: 45%;
}

#buttonsGroup{
    width: 50%;
    height: 95%;
}

#buttonsText1{
    position: absolute; 
    top: -3vw; 
    left: 1vw;
}

#buttonsText2{
    position: absolute; 
    bottom: 1.2vw; 
    left: 1vw;
}

#buttonsText3{
    position: absolute; 
    bottom: 0.5vw; 
    left: 1vw;
}

#buttonsText4{
    position: absolute; 
    top: 1vw;
}

#aboutDiv{
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    
    border-radius: 12px;
}

#aboutContainer h1{
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 3vw;
}

#aboutTextImage{
    display: flex;
    margin-bottom: 3px;
}

#aboutImages{
    height: auto;
    width: 100%;

    object-fit: cover;
    overflow: hidden;
    

    border-radius: 12px;
}

#aboutText{
    text-align: right;
    height: auto;
    
    margin: 0;
    margin-left: 6px;

    font-size: 1.3vw;
}

#aboutText2{
    text-align: left;
    height: auto;
    width: 80%;

    margin: 0;
    margin-right: 6px;

    font-size: 1.8vw;
}

#aboutTextDiv{
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    margin-right: 0;
    margin-left: auto;

    width: 95%;
    justify-content: center;
    align-items: right;
}

#aboutImagesTextDiv{
    display: flex;
    height: 21vw;
}

#aboutImagesTextDiv img{
    flex: 1;
    border-radius: 12px;

    height: 100%;
    width: auto;

    object-fit: cover;
}

#aboutContainer2{
    display: flex;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

#aboutDivTablet{
    display: none;
}

@media screen and (max-width: 1280px){
    body{
        margin: 160px;
        margin-top: 24px;
    }
}

@media screen and (max-width: 1024px) {
    
    body{
        margin: 140px;
        margin-top: 24px;
    }
    
    #imagesDiv{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #aboutDiv{
        display: none;
    }
    
    #aboutDivTablet{
        display: flex;
    }

    #aboutText{
        font-size: 1.8vw;
    }

    #aboutImagesTextDiv{
        height: 32vw;
    }

}

@media screen and (max-width: 768px){
    body{
        margin: 50px;
        margin-top: 24px;
    }

    #navBar{
        display: none;
    }

    #mobileNav{
        display: flex;
    }

    #navLinks{
        gap: 26px;
        padding: 0;
        font-size: 4vw;
    }

    #imagesDiv{
        display: flex;
        flex-direction: column;
    }
    #imagesImage{
        height: 100%;
    }


    #buttonsDiv{
        display: grid;
        grid-template-columns: repeat(2, 1);
    }

    
    #buttonsDiv1{
    width: 100%;
    }

    #buttonsDiv2{
    width: 100%;
    }

    #buttonsDiv3{
    display: flex;
    width: 100%;
    }

    #buttonsGroup{
        width: 100%;
        height: 105%;
    }

    #buttonText{
        font-size: 6vw;
    }

    #buttonsText1{
    position: absolute; 
    top: -6vw; 
    left: 1vw;
    }

    #buttonsText4{
        position: absolute; 
        top: 1vw; 
    }

    #aboutText{
        font-size: 2.3vw;
    }

    #aboutText2{
        font-size: 2.3vw;
    }
}
